<div id="admin-page">
	<h2>Admin Dashboard</h2>
	<div id="admin-links">
		<table class="table table-striped">
			<tbody>
				<tr><td>
					<a href="/admin/signup"><i class="fa fa-user-plus"></i> New Participant</a>
				</td></tr>
				<tr><td>
					<a href="/admin/users"><i class="fa fa-users"></i> View Participants</a>
				</td></tr>
				<tr><td>
					<a href="/admin/manage"><i class="fa fa-database"></i> Manage Database</a>
				</td></tr>
			</tbody>
		</table>
	</div>
</div>
