<div id="admin-manage-selection-page">
	<a class="btn btn-default" href="/admin">
		<i class="fa fa-arrow-left"></i> Admin Dashboard
	</a>
	<div class="centered">
		<h2>Manage Database</h2>
		<div id="manage-links">
			<table class="table table-striped">
				<tbody>
					<tr><td>
						<a href="/admin/manage/studies"><i class="fa fa-book"></i> Studies</a>
					</td></tr>
					<tr><td>
						<a href="/admin/manage/phases"><i class="fa fa-calendar"></i> Phases</a>
					</td></tr>
					<tr><td>
						<a href="/admin/manage/questions"><i class="fa fa-question"></i> Questions</a>
					</td></tr>
					<tr><td>
						<a href="/admin/manage/users"><i class="fa fa-users"></i> Users</a>
					</td></tr>
					<tr><td>
						<a href="/admin/manage/user_studies"><i class="fa fa-id-card-o"></i> User Studies</a>
					</td></tr>
					<tr><td>
						<a href="/admin/manage/user_schedules"><i class="fa fa-clock-o"></i> User Schedules</a>
					</td></tr>
					<tr><td>
						<a href="/admin/manage/user_phases"><i class="fa fa-calendar-check-o"></i> User Phases</a>
					</td></tr>
					<tr><td>
						<a href="/admin/manage/user_data"><i class="fa fa-check-square-o"></i> User Data</a>
					</td></tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
