<div class="row">
	<div class="col-xs-4 col-time"><b><%= locals[:title] %></b></div>
	<div class="col-xs-1 col-day">Mon</div>
	<div class="col-xs-1 col-day">Tue</div>
	<div class="col-xs-1 col-day">Wed</div>
	<div class="col-xs-1 col-day">Thu</div>
	<div class="col-xs-1 col-day">Fri</div>
	<div class="col-xs-1 col-day">Sat</div>
	<div class="col-xs-1 col-day">Sun</div>
	<div class="col-xs-1 col-remove"></div>
</div>
