<div id="home-page">
	<div class="jumbotron">
	  <h1>MGH Light Therapy Study</h1>
		<div>
			<a href="https://clinicaltrials.partners.org/study/mslighttherapy" class="btn btn-primary">More Information</a>
			<a href="/login" class="btn btn-primary">Log In</a>
		</div>
	</div>
</div>
