<div id="ptcpt-contact-page">
	<a class="btn btn-default" href="/dashboard">
		<i class="fa fa-arrow-left"></i> Dashboard
	</a>
	<div class="centered">
		<h2>Contact MGH</h2>
		<div class="well left">
			<h4>Email:</h4>
			<p>contactus@examplemgh.com</p>
			<br/>
			<h4>Phone:</h4>
			<p>617-555-1234</p>
		</div>
	</div>
</div>
