<div id="dashboard-page">
	<h2>Dashboard</h2>
	<div id="ptcpt-links">
		<table class="table table-striped">
			<tbody>
				<tr><td>
					<a href="/questions"><i class="fa fa-question"></i> Pending Questions</a>
				</td></tr>
				<tr><td>
					<a href="/profile"><i class="fa fa-id-card"></i> View/Edit Profile</a>
				</td></tr>
				<tr><td>
					<a href="/contact"><i class="fa fa-envelope"></i> Contact MGH</a>
				</td></tr>
			</tbody>
		</table>
	</div>
	<%= javascript_include_tag('dashboard.js') %>
</div>
