// Place all the styles related to the Admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#admin-page {
	text-align: center;

	div#admin-links {

		& > table {
			max-width: 300px;
			margin: auto;
			border: solid 1px gray;
		}
	}
}

div#signup-page {

	h1, h2, h3 {
		text-align: center;
	}

	input, textarea, select, .uneditable-input {
	  border: 1px solid #bbb;
	  width: 100%;
	  margin-bottom: 15px;
	}

	.err {
		display: none;
		color: red;
	}

	#msg-bottom {
		text-align: center;
	}

	div.input-daterange {
		max-width: 400px;

		input[type="text"] {
			margin: 0 !important;
			font-size: medium;
		}
	}

	input {
	  height: auto !important;
	}

	p#pw-match {
		color: green;
		display: none;
	}

	p#pw-no-match, p#pw-min-length {
		color: red;
		display: none;
	}

	div.schedules {
		& > div.schedule {

			& > div.row {
				div.col-time {
					select {
						display: inline;
						width: 60px;
					}
				}

				div.col-day {
					text-align: center;
					vertical-align: middle;

					input[type="checkbox"] {
						width: 18px;
					}
				}
			}

			& > div.schedule-row {
				i.fa-times {
					color: red;
					cursor: pointer;
				}
			}

			div.schedule-row:nth-child(2) > div.col-remove {
				i.fa-times {
					display: none;
				}
			}

			.btn-add-time {
				width: 120px;
				margin-left: 15px;
			}
		}
	}

	div.user-phase-edit {
		input[data-provide="datepicker"] {
			width: auto;
		}
	}

	div#btn-submit-container {
		width: 100%;
		text-align: center;
		margin-bottom: 100px;

		& > button {
			width: 100%;
			max-width: 300px;
		}

		#btn-sign-up-disabled {
			display: none;
		}
	}
}

div#admin-users-page {
	text-align: center;

	div#users-container {
		text-align: left;
	}
}

div#admin-manage-selection-page {
	text-align: center;

	div#manage-links {

		& > table {
			max-width: 300px;
			margin: auto;
			border: solid 1px gray;
		}
	}
}

div#admin-manage-page {

	h2#page-header {
		text-align: center;
	}

	div#records-container {

		i.fa, span.cancel-edit, span.cancel-delete {
			cursor: pointer;
		}

		i.fa-pencil, span.cancel-edit {
			color: dodgerblue;
		}

		i.fa-trash, span.cancel-delete {
			color: red;
		}

		span.cancel-edit, span.cancel-delete {
			display: none;
		}

		i.fa-trash {
			margin-left: 10px;
		}

		div.col-edit {
			display: none;
		}

		button#btn-save-records {
			float: right;
		}
	}
}
