// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 75px;
}

div.jumbotron {
	border-radius: 5px;
	text-align: center;
}

section {
  overflow: auto;
}

.center h1 {
  margin-bottom: 10px;
}
