// Place all the styles related to the Session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#login-page {

	h1 {
		text-align: center;
	}

	#message {
		color: red;
		text-align: center;
	}

	#username, #password {
		margin: 0 auto 10px;
		max-width: 400px;
	}

	#btn-login-container {
		text-align: center;
		margin-top: 33px;

		input[type="submit"] {
			width: 100%;
			max-width: 400px;
			margin-bottom: 15px;
		}
	}
}
