<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
		<nav>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/">Home</a></li>
				<% if !logged_in? %>
					<li><a href="login">Log In</a></li>
				<% else %>
					<% if is_admin? %>
						<li><a href="admin">Admin</a></li>
					<% end %>
					<li><a href="logout">Log Out</a></li>
				<% end %>
			</ul>
		</nav>
	</div>
</header>
